.navbarStyle {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    li {
      list-style: none;
      text-align: center;
      a {
        font-size: 1.1rem;
        color: black;
        text-decoration: none;
        transition: all 0.2s ease;
      }
      a:hover {
        color: red;
        letter-spacing: 1px;
      }
    }
  }
}
