.eventCardStyle {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  div {
    position: relative;
    height: 260px;
    width: 360px;
    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  figcaption {
    height: 12vh;
    color: white;
    background-color: black;
    padding: 8px;
    p:nth-child(1) {
      font-size: 1.6rem;
    }
    p:nth-child(2) {
      font-size: 1.2rem;
    }
    p:nth-child(3) {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.eventCardStyle:hover {
  p:nth-child(3) {
    opacity: 1;
    cursor: pointer;
  }
}

.plusIcon {
  width: 100%;
  display: grid;
  justify-content: end;
  svg {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    cursor: pointer;
  }
}
