.footerStyle {
  width: 100%;
  margin-top: auto;
  height: 40vh;
  background-color: black;

  section {
    width: 50%;
    margin: auto;
    grid-template-rows: auto;
    display: grid;
    color: white;
    text-align: center;

    justify-content: center;
    align-items: center;

    img {
      width: 75%;
      margin: auto;
    }
  }
}
