.newsCardStyle {
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr;

  section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  img {
    width: 100%;
  }
}
